<div class="row" *ngIf="canDisplay()">
  <div class="col-11" [class.error-display]="!alertData.status" [class.success-display]="alertData.status">
    <mat-card [class.error-display]="!alertData.status" [class.success-display]="alertData.status">
      <span class="fa fa-check" *ngIf="alertData.status">&nbsp;</span>
      <span class="fa fa-bug" *ngIf="!alertData.status">&nbsp;</span> Message: {{ alertData.message }}
    </mat-card>
    <mat-card *ngFor="let exception of alertData.exceptions" [class.error-display]="!alertData.status" [class.success-display]="alertData.status">
      <span class="fa fa-check" *ngIf="alertData.status">&nbsp;</span>
      <span class="fa fa-bug" *ngIf="!alertData.status">&nbsp;</span> Message: {{ exception.message }}<br />
      Stack Trace: {{ exception.stackTrace }}
    </mat-card>
  </div>
  <div class="col-1" [class.error-display]="!alertData.status" [class.success-display]="alertData.status">
    <span class="fa fa-close closeButton" (click)="clearHandler()">&nbsp;</span>
  </div>
</div>
